
body{
  background-color: #F0F0F0;
}
.header a{
  text-decoration: none;
  color:white;
  font-size:20px;
  vertical-align: middle;

}
.centerit {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
.custombutton {
  margin:auto;
  display: block;
  margin-top: 20px;
}
.cornerButton{
  position: absolute;
  z-index:1;
  padding:20px;
  right:0;
  bottom:0;
  display: block;
}
.mdl-button--fab{
  display: block;
  z-index:0;
}
